<%- include('base/header', { title: 'PDF Tools - Compare group' }) -%>
<h1 class="header">PDF Tools</h1>
<h4 class="subheader">Upload the files for comparison</h4>
<p>TBD</p>
<%- include('base/footer') %>