<%- include('base/header', { title: 'PDF Tools - Compare group' }) -%>
	<h1 class="header self-center">PDF Tools</h1>
	<h4 class="subheader self-center">Upload the files for comparison</h4>
	<p class="self-center">TBD</p>
<%- include('base/footer') %>