<%- include('base/header', { title: 'PDF Tools' }) -%>
	<h1 class="header">PDF Tools</h1>
	<h4 class="subheader">What do you need to do today?</h4>
  <div class="container" hx-boost="true">
    <a class="box" href="/compare">
      <p>Compare 2 files</p>
      <div class="svg_image">
        <%- include('svgs/compare.svg') -%>
      </div>
    </a>
    <a class="box" href="/compare-group">
      <p>Group compare</p>
      <div class="svg_image">
        <%- include('svgs/documents.svg') -%>
      </div>
    </a>
  </div>
<%- include('base/footer') %>